input[type=text]{
	
	background-color: light blue;
	
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	
	border: 2px solid blue;
	border-radius: 4px
	
}

body{
	background-color: #b0c4de;
	
	font-family: Arial, Helvetica, sans-serf;
}